.App{
   color:white !important;
}
.container_1{
   border-radius:5px;
   margin:0 auto; 
   box-shadow: 0px 0px 6px 8px #d1dee9;
   display:flex;
   flex-direction:column;
   padding:6px 10px;
   width:35%;
   /* background-image: linear-gradient(359deg, #c4a2a6, #6d8ccd); */
   background-size:cover;
}
.weather-block-1{
   display: flex;
   flex-direction: column;
   height:65%;
   padding:5%;
}
.weather-block-2{
   height:35%;
   padding: 10px;
   display:flex;
   flex-direction:row;
}
.weather-block-2-col-1{
   height:100%;
   width:30%;
}
.weather-block-2-col-2{
   height:100%;
   width:40%;
   text-align: center;   
   font-size: calc(0.75em + 1vmin);
}
.weather-block-2-col-3{
   height:100%;
   width:40%;
   text-align: right;
   
}
.weather-block-1 > .city-name , .city-temp , .city-weather{
   font-size: calc(1.5em + 1vmin);
   line-height: 38px;
   font-weight: bolder;
   letter-spacing: 1px;
   text-shadow: 1px 2px 3px black;
   padding: 15px;
   text-align: center;
}
.weather-block-1 > .city-temp{
   line-height: 50px;
   font-size: xxx-large;
   font-weight:200 !important;
   display:flex;
   flex-direction:row;
   justify-content: space-around;
   text-align: left;
}

.city-weather{
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   align-items: flex-end;
   padding:0
}
.weather-name{
   width:50%;
   text-align:left
}
.weather-icon{
   width:50%;
   padding-top:20px;
   text-align:right
}
.temp-type{
   font-size: 40px;
    vertical-align: super;
}
.city-temp > .max_min{
   font-size: 12px;
   line-height: 1.5;
   padding: 5px 0;
   align-self: flex-end;
}
.icon-align-justify{
   color: white !important;
}